{% extends "base.html" %}

{% block body %}

<div class="row">
    <div class="col-md-8">
        <form role="form" id="search-form" action="/search" method="get">
            <div class="form-group">
                <input class="form-control" type="text" name="q" id="search-input" />
            </div>
            <button type="submit" class="btn">Search</button>
        </form>

        {% if content.results %}
            <h3>Results</h3>
            {% include "search/search_results.html" %}
        {% endif %}
    </div>
    <div class="col-md-4">
        {% if content.facets %}
            <h2>Facets</h2>
            {% for name, facets in content.facets.facet_fields.items %}
            <div class="row">
                <h4>{{ name }}</h4>
                <ul>
                    {% for facet, count in facets.items %}
                        <li><a class="facet-link" href="#" data-facet-name="{{ name }}" data-facet-value="{{ facet }}">{{ facet }} </a> ({{ count }})</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}