<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>TimeKeeper: Keep your Time</title>

  <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">

  <script src="{{ STATIC_URL }}js/jquery.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="{{ STATIC_URL }}js/scripts.js"></script>
</head>

<body>
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-md-2">
                    <img src="{{ STATIC_URL }}img/timekeeper.jpg" />
                </div>
                <div class="col-md-10">
                    <h1>TimeKeeper</h1>
                    <p class="lead">Keep your Time</p>
                </div>
            </div>
        </div>
        {% block body %}

        {% endblock %}
    </div>
</body>
</html>