{% extends "base.html" %}

{% block body %}
<h1>Snippets</h1>
<table class="table">
    <thead>
        <tr>
            <th>Snippet</th>
            <th>Tags</th>
            <th>Creator</th>
        </tr>
    </thead>
    <tbody>
        {% for snippet in content %}
            <tr>
                <td><a href="{{ snippet.url }}">{{ snippet.title }}</a></td>
                <td>
                    <ul>
                        {% for tag in snippet.tags %}
                        <li><a href="{{ tag.url }}">{{ tag.name }}</a></li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <a href="{{ snippet.creator.url }}">{{ snippet.creator.full_name }}</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
